.side-bar-icons-container {
    margin-bottom: 95px;
}

.side-bar-content-container {
    position: absolute;
    top: 65px;
    left: 75px;
    width: 400px;
    height: 100%;
    background-color: #181C27;
    padding: 0;
}

.side-bar-content-container .title {
    color: #53B1FD;
    padding: 15px 20px 16px 14px;
}

.side-bar-content-container .title-container {
    height: 44px;
}

.side-bar-content-section {
    padding: 30px 20px;
    
}

.wallet-button-container {
    margin-bottom: 95px;
}

.common-border-bottom {
    border-bottom: 2px solid #121212;
}

.no-background-border-button {
    background: none;
    border: none;
}

.content {
    color: white;
}

.w-30 {
    width: 30px;
}

.right-arrow-button-container {
    border: none;
    width: 40px;
    height: 40px;
    background-color: #175CD3;
    border-radius: 4px;
}