::placeholder {
    color: white;
}

.common-input {
    border: 1px solid #293056;
    background-color: #181C27;
    border-radius: 4px;
    padding: 14px 15px 13px 15px;
    color: white;
    font-size: 13px;
}

.common-input:focus {
    
}

.side-bar-input {
    width: 140px;
    height: 40px;
}

.middle-input {
    width: 191px;
    height: 36px;
}

.small-input {
    width: 47px;
    height: 35px;
    padding: 8px 10px 8px 20px;
}

/* order form */
.no-border {
    border: none;
    width: 50px;
    padding: 0;
    font-size: 13px;
    font-weight: 500;
}

/* input with pre, sub content */
.common-input-text-container {
    border: 1px solid #293056;
    align-items: center;
    padding: 15px 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
}

.preview-input-text-container {
    align-items: center;
    padding: 0;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    border: none;
}

.rpc-setting-text-container {
    border: none;
    padding: 0px;
    background: #213d54;
    border-radius: 0;
    margin: 15px 0px;
}

.rpc-setting-text-left-container {
    flex-basis: 40%;
    flex-grow: 0 !important;
    margin-left: 10px;
}

.rpc-setting-text-input {
    background-color: #123149;
    border: none;
    padding: 16px 15px 16px 15px;
    flex-grow: 1;
}

