.common-button {
    border: none;
    color: white;
}

.primary-btn {
    background-color: #1570EF;
    font-size: 14px;
    font-weight: 500;
    font-family: 'IBM PLEX SANS';
    width: 360px;
    height: 48px;
    border-radius: 4px;
}

/* order form buttons */
.buy-block-btn {
    background: #181C27;
    border: 1px solid #293056;
    border-radius: 4px;
    width: 165px;
    height: 33px;
    color: #6ce9a6;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 13px;
}

.buy-block-btn__active {
    border: 1px solid #6CE9A6;
}

.sell-block-btn {
    background: #181C27;
    border: 1px solid #293056;
    border-radius: 4px;
    width: 165px;
    height: 33px;
    color: #f97066;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 13px;
}

.sell-block-btn__active {
    border: 1px solid #fda29b;
}

/* order tabs btn */
.table-sort-btn {
    background: none;
    border: none;
    padding: 0;
    height: 18px;
}

.active-tab {
    color: #2e90fa;
}

.order-tab-header-title {
    font-size: 12px;
    line-height: 15.6px;
    font-weight: 500;
    background: none;
    border: none;
}

/* configuration button */
.configuration-cancel-btn {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 5px;
    color: #1267F8;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}
.configuration-continue-btn {
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 10px;
    color: white;
    background-color: #1267F8;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.configuration-browse-btn {
    color: white;
    background-color: #1267F8;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    margin-left: 10px;
    height: 42px;
}

.configuration-menu-option-btn {
    background: none;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.configuration-menu-option-btn:hover {
    opacity: 0.8;
}