h1,
h2,
h3,
h4 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 15px;
    background-color: #172e48;
    letter-spacing: 1px;
}

::-webkit-scrollbar {
    width: 6px;
    border: 0;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(248, 248, 248, 0.5);
    border: 0;
    border-radius: 3px;
}

input[type=radio] {
    appearance: none;
    background: none;
    border-radius: 50%;
    border-color: #1267F8;
}

input[type=radio]:checked {
    background-color: #1267F8;
    background-image: none !important;
}

input[type="checkbox"] {
    appearance: none;
    background: none;
    margin: 0;
    font: inherit;
    color: #358FED;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #358FED;
    border-radius: 0;
    transform: translateY(-0.075em);
    margin-right: 10px;
    margin-left: 0 !important;
}

input[type="checkbox"]::after {
    margin-right: 10px;
}


input[type="checkbox"]:checked {
    background: none;
    color: #358FED;
}

.main-body {
    background-color: #0e2742;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.logo-full {
    width: 100%;
    max-width: 300px;
}

.wallets-list-container {
    background-color: #22354A;
    max-height: 283px;
    overflow: overlay;
}

.wallet-versions-container {
    background-color: #122439;
}

.wallet-version-select-container {
    background-color: #203649;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

/* padding */

.p-t-0 {
    padding-top: 0px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-v-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.p-v-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-h-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.p-h-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.p-20 {
    padding: 20px;
}

/* margin */
.m-v-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.m-v-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.m-v-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.m-h-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.m-t-4 {
    margin-top: 4px !important;
}

.m-t-10 {
    margin-top: 10px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-l-33 {
    margin-left: 33px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-20 {
    margin: 20px;
}

/* width */
.w-p-55 {
    width: 55%;
}

.bg-182a3e {
    background-color: #182A3E;
}

.data-directory-input {
    background: #203649;
    border: none;
    color: white;
    padding-left: 10px;
    height: 42px;
}

.data-directory-select-container {
    background: none;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.max-h-210 {
    max-height: 210px;
}

.basis-p-150 {
    flex-basis: 150%;
}