.main-content {
    margin-top: -63px;
    padding-top: 63px;
}

.common-border-bottom {
    border-bottom: 2px solid #121212;
}

/* margin right */
.m-t-2 {
    margin-top: 2px;
}
.m-t-5 {
    margin-top: 5px;
}

.m-t-9 {
    margin-top: 9px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-17 {
    margin-top: 17px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-21 {
    margin-top: 21px;
}

.m-t-30 {
    margin-top: 30px;
}



/* margin bottom */
.m-b-5 {
    margin-bottom: 5px;
}

.m-b-8-5 {
    margin-bottom: 8.5px;
}

.m-b-9 {
    margin-bottom: 9px;
}

.m-b-26 {
    margin-bottom: 26px;
}

.m-b-21 {
    margin-bottom: 21px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-38 {
    margin-bottom: 38px;
}

/* margin right */

.m-r-8 {
    margin-right: 8px;
}

.m-r-10 {
    margin-right: 10px;
}

/* margin left */
.m-l-10 {
    margin-left: 10px;
}

.m-l-21 {
    margin-left: 21px;
}

/* margin vertical */
.m-v-4 {
    margin-top: 4px;
    margin-bottom: 4px;
}

/*padding vertical */
.p-v-4 {
    padding-top: 4px;
    padding-bottom: 4px;
}

/* padding horizontal */
.p-h-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.p-h-20 {
    padding-left: 20px;
    padding-right: 20px;
}

/* padding top */
.p-t-20-p {
    padding-top: 20%;
}

.p-t-198 {
    padding-top: 198px;
}

/* padding */
.p-10 {
    padding: 10px;
}

.p-l-20 {
    padding-left: 20px;
}

/* width */
.w-109 {
    width: 109px;
}

.w-340 {
    width: 340px;
}

.w-350 {
    width: 350px;
}

.full-width {
    width: 100%;
}

/* height */
.h-24 {
    height: 24px;
}